<mat-toolbar color="primary">
  <mat-toolbar-row>
      <button mat-icon-button (click)="toggleSideBar()">
          <mat-icon>menu</mat-icon>
      </button>
      <span> DMG </span>


      <div  *ngIf="userlogiado == null" fxFlex fxLayout="row" fxLayoutAlign="flex-end">
          <ul fxLayout="row" fxLayoutGap="20px">
              <li>
                  <button mat-button [matMenuTriggerFor]="menu">
                      <mat-icon>person_outline</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item routerLink="/usuarios/login">
                          <mat-icon>exit_to_app</mat-icon>
                          Iniciar
                      </button>
                  </mat-menu>

              </li>
          </ul>
      </div>
      <div  *ngIf="userlogiado != null"fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">
            <li>
                <button mat-icon-button>
                    <mat-icon>settings</mat-icon>
                </button>
            </li>
            <li>
                <button mat-icon-button>
                    <mat-icon>help_outline</mat-icon>
                </button>
            </li>
            <li>
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>person_outline</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="cerrarSesion()">
                        <mat-icon>exit_to_app</mat-icon>
                        Salir
                    </button>
                </mat-menu>

            </li>
        </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

