<mat-card fxFlex>
  <mat-toolbar color="success">{{titulo}} Doctores
    <span fxFlex class="flex-spacer"></span>
    <button mat-icon-button color="accent" matTooltip="Lista Doctores" routerLink="/doctores/listar">
      <mat-icon>open_in_new</mat-icon>
    </button>
  </mat-toolbar>
  <br>
  <mat-card-content>
    <form fxLayout="column" [formGroup]="doctorForm" (submit)="crear(doctorForm.value)">
      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Nombre</mat-label>
          <input formControlName="nombre" matInput type="text" placeholder="Nombre*">
          <mat-error>Este Campo es Obligatorio.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Apellido</mat-label>
          <input formControlName="apellido" matInput type="text" placeholder="Apellido*">
        </mat-form-field>
      </div>

      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Fecha Nacimiento</mat-label>
          <input matInput formControlName="fechaNacimiento" [matDatepicker]="picker2" placeholder="Fecha Nacimiento*">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
          <input formControlName="direccion" matInput type="text" placeholder="Dirección*">
          <mat-label>Dirección</mat-label>
        </mat-form-field>
      </div>
      <div class="button-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <button mat-raised-button color="primary" type="submit" [disabled]="doctorForm.invalid">Registrar
        </button>
        <button mat-raised-button color="warn" (click)="borrar()">Cancelar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
