<section fxLayout="column" fxFlexAlign="center stretch">
  <div>
    <mat-card>
      <img mat-card-image [src]="'/assets/images/avances-medicos.jpeg'" alt="">
      <mat-card-content>
        <p>
          Administrador de Hospitales
        </p>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-button color="warn"><strong>MÁS INFORMACIÓN</strong></button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>

<div class="contenedor-dpto">
  <div class="elemento elemento-uno">
    <mat-card>
      <img mat-card-image [src]="'/assets/images/atencion.jpg'" alt="">
    </mat-card>
  </div>
  <div class="elemento elemento-dos">
    <mat-card class="example-card">
      <mat-card-title color="warn">Finalidad</mat-card-title>
      <mat-card-content>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur excepturi sequi asperiores eum unde
         labore vitae voluptates. Perspiciatis incidunt, suscipit exercitationem nemo voluptatem culpa ipsa sed iusto quos, quod non!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Quibusdam temporibus placeat minima esse, eius amet et molestias iure aperiam nisi enim laborum dolorem dignissimos illo, at magni, libero ea tempora!
        </p>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-button color="warn"><strong>MÁS INFORMACIÓN</strong></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<br>

